[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Launcher Dictionary
Name[Name]=Launcher Dictionary
Name[ab]=
Name[be]=Усё - Слоўнік
Name[ca]=
Name[cs]=Spouštěč - Slovník
Name[de]=
Name[el]=
Name[eo]=
Name[es]=Diccionario del Lanzador
Name[fr]=Lanceur du dictionnaire
Name[gl]=
Name[hu]=
Name[it]=Launcher - Dictionary
Name[ja]=
Name[ko]=
Name[pt]=Dicionário
Name[ru]=Всё - Словарь
Name[sk]=Spúšťač - Slovník
Name[sr]=
Name[tr]=Launcher - Dictionary
GenericName[es]=Frontend para el diccionario del Lanzador
Comment=Launcher Dictionary Frontend, use 'd  ' as trigger.
Comment[be]=Доступ да слоўніка. Набярыце 'd  ' каб актываваць.
Comment[cs]=Slovník pro spouštěč. Použít 'd ' pro aktivaci pluginu.
Comment[de]=
Comment[eo]=
Comment[es]=Frontend para el diccionario del Lanzador, use 'd  ' para activar
Comment[fr]=Frontal du dictionnaire, utilise « d+barre d'espace » comme déclencheur. 
Comment[gl]=
Comment[it]=
Comment[pt]=Dicionário. Utilize 'd + barra de espaços' para ativar o plugin.
Comment[ru]=Доступ к словарю. Наберите 'd  ' для активации.
Comment[tr]=
Comment[sk]=Slovník pre spúšťač. Použiť 'd ' pre aktiváciu pluginu.
Icon=e-module
X-Enlightenment-ModuleType=launcher
