Package: moksha-module-dictionary-dbgsym
Package-Type: ddeb
Source: moksha-module-dictionary
Version: 0.0.1-1
Auto-Built-Package: debug-symbols
Architecture: i386
Maintainer: Stefan Uram <thewaiter@centrum.sk>
Installed-Size: 60
Depends: moksha-module-dictionary (= 0.0.1-1)
Section: debug
Priority: optional
Description: debug symbols for moksha-module-dictionary
Build-Ids: 58d9d256e7284b29892222b7bb446af9f00d007d
